<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>240732290824-55j0s8ikpafvlof7uuo8clbg2u5va9tm.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.240732290824-55j0s8ikpafvlof7uuo8clbg2u5va9tm</string>
	<key>API_KEY</key>
	<string>AIzaSyByMQ_v_Mzvj1fLOaspAJqmmfXkUdVa9JY</string>
	<key>GCM_SENDER_ID</key>
	<string>240732290824</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.chatAppFirebase</string>
	<key>PROJECT_ID</key>
	<string>chatappflutter-42ed0</string>
	<key>STORAGE_BUCKET</key>
	<string>chatappflutter-42ed0.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:240732290824:ios:bd0285b4a7ced289b936bd</string>
</dict>
</plist>